* {
  margin: 0;
  font-family: "helvetica";
}
body {
  font-size: 15px;
}
.api-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.api-message p {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
