$breakpoints: (
  sm: 300px,
  md-sm: 500px,
  md: 768px,
  md-md: 900px,
  lg: 1224px,
  lg-lg: 1424px,
);

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
    @content;
  }
}

div.containerToDos {
  grid-area: 2/1/4/1;
  z-index: 1;
  @include media-up(md-sm) {
    background-color: white;
    grid-area: 2/2/4/3 !important;
  }
}
