@mixin displayflexaligncenter {
  display: flex;
  align-items: center;
}
@mixin displayflexjustifycenter {
  display: flex;
  justify-content: center;
}
@mixin dflexjcenteracenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
$breakpoints: (
  sm: 300px,
  sm-md-sm: 400px,
  md-sm: 500px,
  md: 768px,
  md-md: 900px,
  lg: 1024,
);
.todoItem {
  display: grid;
  justify-content: space-between;
  grid-template: 100% / 75% 15%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .nameItem {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 7vh;
    border-radius: 0.25rem;
    color: black;
    justify-content: center;
    align-items: center;
    span {
      @include displayflexjustifycenter();
      text-decoration: none !important;
    }
    div {
      @include displayflexaligncenter();
    }
  }
  .checkBoxItem {
    @include dflexjcenteracenter();
  }
}
.itemDone {
  color: black !important;
  opacity: 50%;
  text-decoration: line-through;
}
.onComplete {
  opacity: 50%;
  background-color: rgba($color: #000000, $alpha: 0.1);
}
